DirectoryIndex index.php

####### protegendo arquivo .htaccess
<files ~ "^.*\.([Hh][Tt][Aa])">
    order allow,deny
    deny from all
    satisfy all
</files>

####### protegendo arquivo com as chaves
####### protegendo pagtesouro.html - template
<FilesMatch "(pagtesouro\.html|pagtesouro\.json)$">
    order allow,deny
    deny from all
</FilesMatch>

####### Desbloquear somente arquivos necessários
<FilesMatch "(pagtesouro\.php|README\.md)$">
    Order allow,deny
    Allow from all
    Satisfy any
</FilesMatch>

####### Segurança headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options nosniff
    Header set X-XSS-Protection "1; mode=block"
    Header always append X-Frame-Options SAMEORIGIN
</IfModule>

####### utf-8
<FilesMatch ".(html|css|js|json)$">
    AddDefaultCharset UTF-8
</FilesMatch>

